* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

header .container {
    margin-top: 28px;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

header .container .navbar ul{
    display: flex;
}

header .container .navbar ul li {
    list-style: none;
}

header .container .navbar ul li a {
    text-decoration: none;
    color: #667085;
    font-size: 16px;
    margin: 32px;
}

header .container .cadastro a {
    text-decoration: none;
    color: #667085;
    font-size: 16px;
    margin: 38px;
}

header .container .cadastro button {
    background-color: #8E2424;
    border-radius: 8px;
    border: 1px solid #8E2424;
    width: 112px;
    height: 44px;
    color: #fff;
    cursor: pointer;
}

section .content {
    margin-top: 96px;
    text-align: center;
}

section .content span {
    color: #8E2424;
    font-size: 16px;
    font-weight: 600px;
}

section .content h1 {
    margin-top: 24px;
    font-size: 48px;
    color: #101828;
    font-weight: 600px;
}

section .content p {
    font-size: 20px;
    color: #667085;
    font-weight: 400;
    margin-top: 36px;
}

section .metricas-container {
    margin-top: 107px;
    display: flex;
    justify-content: center;
    height: 288px;
}

section .metricas {
    width: 280px;
    height: 72px;
}

section .metricas h1 {
    color: #8E2424;
    font-size: 40px;
    font-weight: 600px;
}

section .metricas span {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

section .metricas p {
    font-size: 16px;
    color: #667085;
    margin-top: 8px;

}

section .banner-section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}

section .banner-section span {
    color: #8E2424; 
    font-size: 14px;  
}

section .banner-section h2 {
    color: #101828;
    font-size: 36px;
    line-height: 44px;
    margin-top: 16px;
}

section .banner-section p {
    color: #667085;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

section .banner-section img {
    display: flex;
    align-self: center;
    margin-top: 64px;
    width: 1216px;
    height: 400px;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .vaga {
    font-size: 20px;
    color: #101828;
    font-weight: 600;
    margin-top: 64px;
    width: 768px;
    height: 30px;
    align-content: center;
}

section .informacoes {
    width: 768px;
    margin-top: 38px;
    border: 3px solid #EAECF0;
    border-radius: 16px;
}

section .titulo-info {
    display: flex;
    font-size: 18px;
    margin-top: 24px;
    margin-left: 24px;
}

section .descricao {
    display: inline-block;
    margin: 24px;
    font-size: 16px;
    margin-top: 64px;
}

section .comentarios {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    text-align: center;
    height: 404px;
}


section .comentarios span {
    color: #8E2424;
    font-size: 14px;
}

section .comentarios h2 {
    color: #101828;
    font-weight: 500;
    font-size: 36px;
    margin-top: 16px;
}

section .comentarios .perfil {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

section .comentarios .perfil img {
    display: flex;
    align-self: center;
    width: 56px;
    height: 56px;
}

section .comentarios .perfil .name {
    font-size: 16px;
    color: #101828;
    margin-top: 16px;
}

section .comentarios .perfil p {
    font-size: 14px;
    color: #667085;
}

footer {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    font-size: 36px;
    font-weight: 600;
}

footer p {
    font-size: 20px;
    margin-top: 20px;
    color: #667085;
}

footer input {
    margin-top: 40px;
    width: 360px;
    height: 48px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 16px;
}

footer button {
    width: 116px;
    height: 48px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 16px;
    background-color: #8E2424;
    color: #fff;
}

footer .copyright {
    margin-top: 32px;
    display: flex;
    color: #98A2B3;
    font-size: 16px;
    margin-bottom: 96px;
}

    